<form [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate id="idForm" name="nomForm" style="width: 100%">
  <div class="ui-g">
    <div class="ui-lg-4 ui-md-4 ui-sm-12">
      <input type="number" pInputText placeholder="Id" formControlName="id"/>
    </div>
    <div class="ui-lg-4 ui-md-4 ui-sm-12">
      <input type="text" pInputText placeholder="Title" formControlName="title"/>
    </div>
    <div class="ui-lg-4 ui-md-4 ui-sm-12">
      <button pButton class="ui-button-info" [label]="item? 'Actualizar' : 'Agregar'"
              type="submit"></button>
    </div>
  </div>
</form>
