<div class="ui-g">
  <div class="ui-lg-10 ui-lg-offset-1 ui-md-8 ui-md-offset-2 ui-sm-10 ui-sm-offset-1">
    <p-panel>
      <p-header>
        <div class="titulo-login">
          <strong>Listado del Endpoint</strong>
        </div>
      </p-header>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-md-offset-6 ui-lg-6 ui-lg-offset-6">
          <input #gb type="text" pInputText size="40" placeholder="Buscar"
                 (input)="dt.filterGlobal($event.target.value, 'contains')">
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <p-table [columns]="columnas" [loading]="carTabla" #dt
                   [value]="items" selectionMode="single" dataKey="idAlerta"
                   [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort" class="text-center">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr [pSelectableRow]="row">
                <td>{{row.id}}</td>
                <td>{{row.title}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No hay items
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-panel>
  </div>
</div>
