<p-messages id="msgNotificacion" [value]="msgs" ([closable])="true"></p-messages>
<p-menubar [model]="items" *ngIf="estadoConexion">
  <button pButton label="Logout" icon="pi pi-sign-out" (click)="cerrar()"></button>
</p-menubar>
<router-outlet></router-outlet>
