<div class="ui-g">
  <div class="ui-lg-6 ui-lg-offset-3 ui-md-6 ui-md-offset-3 ui-sm-10 ui-sm-offset-1">
    <p-panel>
      <p-header>
        <div class="titulo-login">
          <strong>Login</strong>
        </div>
      </p-header>
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate id="idForm" name="nomForm">
        <div class="ui-g">
          <div class="ui-g-12">
            <input type="mail" pInputText placeholder="Usuario" formControlName="email"/>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12">
            <input type="password" pInputText placeholder="Contraseña" formControlName="password"/>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12">
            <button pButton class="ui-button-info" label="Ingresar"
                    type="submit"></button>
          </div>
        </div>
      </form>
      <div class="ui-g">
        <div class="ui-g-12">
          <button pButton class="ui-button-danger" label="Ingresar con google"
                  (click)="ingresarGoogle()"></button>
        </div>
      </div>
    </p-panel>
  </div>
</div>

